<div class="headerNav">
    <div class="container-fluid">
        <div class="row headerNavBox">
            <a href="https://masahich.com/home">
                <div class="col-xs-6 col-sm-3 headerNavBtn">
                    ホーム
                </div>
            </a>
            <a href="https://masahich.com/category">
                <div class="col-xs-6 col-sm-3 headerNavBtn">
                    カテゴリ
                </div>
            </a>
            <a href="https://masahich.com/summary">
                <div class="col-xs-6 col-sm-3 headerNavBtn">
                    記事一覧
                </div>
            </a>
            <a href="https://masahich.com/contact">
                <div class="col-xs-6 col-sm-3 headerNavBtn">
                    contact
                </div>
            </a>
        </div>
    </div>
</div>
