<div class="header">
    <div class="countainer-fluid">
        <div class="row row--nopadding">
            <div class="col-xs-4 col-sm-1 menu-contents">
                <a href="https://masahich.com">
                    <div class="logo"></div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-11 menu-contents">
                <div class="headerNav">
                    <div class="container-fluid">
                        <div class="row headerNavBox">
                            <a href="https://masahich.com/home">
                                <div class="col-xs-6 col-sm-4 headerNavBtn">
                                    Home
                                </div>
                            </a>
                            <a href="https://masahich.com/category">
                                <div class="col-xs-6 col-sm-4 headerNavBtn">
                                    カテゴリ
                                </div>
                            </a>
                            <a href="https://masahich.com/article">
                                <div class="col-xs-6 col-sm-4 headerNavBtn">
                                    記事一覧
                                </div>
                            </a>
                            <a href="https://masahich.com/contact">
                                <div class="col-xs-6 col-sm-4 headerNavBtn">
                                    contact
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
